@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

html {
    font-family: Poppins, sans-serif;
    text-align: center;
    background-color: hsl(0, 0%, 98%);
}

.title-content {
    font-weight: 200;
    margin: 5rem;
    color: hsl(234, 12%, 34%);
    display: grid;
    place-items: center;
}

.t-words {
    font-weight: 600;
}

.description {
    font-weight: 200;
    font-size: 15px;
    position: relative;
    top: -4em;
    width: 33em;
    display: grid;
    margin: 0 auto;
}

.card {
    display: grid;
    width: 10cm;
    height: 7cm;
    background-color: white;
    backdrop-filter: blur(10px);
    -webkit-box-shadow: 4px 5px 10px 7px rgba(0,0,0,0.22); 
    box-shadow: 4px 5px 10px 7px rgba(0,0,0,0.22);
    border-radius: 10px;
    border-top-color: #45d3d3;
    border-top-style: solid;
    border-top-width: 7px;
    color: hsl(234, 12%, 34%);
    font-weight: 200;
    transition: 0.3s ease-in-out;
}

.card:hover {
    border-top-style: solid;
    border-top-width: 7px;
    transform: scale(1.02);
    transition: 0.3s;
}

.supervisor {
    position: relative;
    top: 4cm;
    left: 3.6cm;
}

.supervisor-description {
    position: relative;
    top: -1cm;
    font-size: 14px;
    width: 6.5cm;
    text-align: left;
    padding-left: 0.7cm;
}

.supervisor-title {
    padding-left: 0.7cm;
    text-align: left;
    font-size: 25px;
}

.s-svg {
    position: relative;
    top: -0.2cm;
    left: 7.5cm;
}

.teambuilder {
    position: relative;
    left: 15cm;
    top: -7cm;
    border-top-color: hsl(0, 78%, 62%);
    border-top-style: solid;
    border-top-width: 7px;
}

.teambuilder-title {
    padding-left: 0.7cm;
    text-align: left;
    font-size: 25px;
}

.teambuilder-description {
    position: relative;
    top: -1cm;
    font-size: 14px;
    text-align: left;
    padding-left: 0.7cm;
}

.calculator {
    position: relative;
    top: -10.3cm;
    left: 26.5cm;
    border-top-style: solid;
    border-top-color: hsl(212, 86%, 64%);
    border-top-width: 7px;
}

.calculator-title {
    padding-left: 0.7cm;
    text-align: left;
    font-size: 25px;
}

.calculator-description {
    position: relative;
    top: -1.1cm;
    font-size: 14px;
    width: 8cm;
    text-align: left;
    padding-left: 0.7cm;
}

.karma {
    position: relative;
    top: -13.5cm;
    left: 15cm;
    border-top-style: solid;
    border-top-color: hsl(34, 97%, 64%);
    border-top-width: 7px;
}

.karma-title {
    padding-left: 0.7cm;
    text-align: left;
    font-size: 25px;
}

.karma-description {
    position: relative;
    top: -1cm;
    font-size: 14px;
    text-align: left;
    padding-left: 0.7cm;
    width: 8cm;
}